/*Estilos Gerais*/
* {font-family: 'roboto';}

body {
    min-height: 100%; /*100% da tela*/
    padding-bottom: 100px;
    position: relative;
}
header { /*HEADER = Cabeçalho*/
    background-color: #fff;
    border-bottom: 1px solid #ccc; /*borda em baixo*/
    /*  border: 2px solid #000;      borda do cabecalho*/
}
.row { /*row = linha*/
    margin: 0;
/*     border: 2px solid rgb(255, 255, 255);  borda do corpo geral.*/}
.container-fluid {
    padding: 0;
}
.btn-primary {
    background-color: #f2a340;
    border: 2px solid #c28008;
}
.btn-primary:hover { /*quando passa o mouse em cima*/
    background-color: #c28008;
    border-color: 2px solid #c28008;
}

/*NAVBAR = MENU */
#navbar img {width: 60px;
    margin-left: 20px;
}
#navbar {/*nomes no menu, Itens*/
    justify-content: space-between; /*Leva o menu para direita espaçado*/
    background-color: #fff;
    padding: 5px 0;
    /*border: 2px solid rgb(160, 7, 7);    borda do meu, navbar*/
}
#navbar a{ /* '#' é = ID e o 'a' é o link*/
    font-size: 14px;
    color: #353535;
}
#navbar a:hover{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.msg { /*DIV - Mensagem enviada de sucesso quando cria evento*/
    background-color: mediumseagreen;
    color: rgb(37, 70, 52);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(14, 80, 44);
    width: 100%;
    margin-bottom: 0;
}

/*Search Container*/
#search-containar{ /*div de buscar*/
    background-image: url("../img/imgsearch.jpg");
    /*background-size: calc(100% - 100); Aproveitar a área possivel para exibir*/
    background-size: 100%;
    background-position: center;
    text-align: center;
    height: 400px;
    padding: 40px;
    /*border: 2px solid rgb(39, 112, 49);   borda */
}
#search-containar h1{  /*Titulo Encontre Um Evento*/
    color: #f2a340;
    margin-bottom: 30px;
    font-weight: 900;
}
#search-containar form{ /*a barra de buscar*/
    width: 50%;
    margin: 0 auto;
}

/*Lista de Eventos*/

#event-container { /*DIV de Eventos*/
    padding: 20px 40px 40px 40px;
   /* border: 2px solid rgb(37, 4, 114);   borda */
}
#event-container h2{
    margin-bottom: 10px;
}
#event-container .subtitulo{
    color: #757575;
    margin-bottom: 10px;
}
#cards-container {
    display: flex;
    border: 0;
    
}
#cards-container .card {
    flex: 1 1 25%;
    max-width: 25%; /*para pegar 4 cards na tela*/
    border-radius: 10px; /*Cantos arredondados*/
    padding: 3px;
    margin-top: 5px;
}
#cards-container img {
   max-height: 100px; /*Altura máxima da imagem dentro do quadrado/container*/
   border-top-left-radius: 10px; /*corta a borda da esquerda*/
   border-top-right-radius: 10px;/*corta a borda da direita*/
   /*object-fit: Ver isso depois */
}
.card-date{
    font-size: 14px;
    color:#000;
    margin-left: 10px;
}
.card-title{
    font-size: 18px;
    color: #000;
    margin-left: 10px;
    font-weight: bold;
}
.card-participantes{
    font-size: 14px;
    color: #000;
    margin-left: 10px;
}

.card-body #ingresso{
    margin-top: 5px;
    padding: 10px;
    position: center;
}

/* Pagina Evento */
#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 12px;
}

#event-create-container .btn-primary{
    margin-top: 20px;
}

/* Pagina de INFO */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img{
    border-radius: 10px;
    margin-bottom: 15px;
}
#info-container p{
    display: flex;
    margin: 0;
    font-size: 14px;
    padding-top: 2px;
}
#info-container #event-submit{
    margin: 20px 0;
}
#info-container h1,
#description-container h3{
    font-weight: bold;
    font-size: 30px;
}
#info-container ion-icon {
    color: #f2a340;
    font-size: 20px;
    margin-right: 5px;
}


/*Footer = RODAPE*/
footer{
    text-align: center;
    background-color: #353E48;
    color: #fff;
    padding: 30px; /*Espaçamento Interno*/
    position: absolute;
    margin: 0;
    width: 100%;
}
footer p{
    margin-bottom: 0;
}








